img {
  height: auto;
  max-width: 100%;
}

header {
  padding: 10px 0;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
nav ul li {
  padding: 0.5rem;
}
nav a {
  text-decoration: none;
}

.navbar-brand img {
  max-width: 250px;
}

.blog .item {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.blog .image-wrapper {
  height: 200px;
}
.blog .image-wrapper .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}
.blog .info-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #e5e9ec;
  border-top: 0;
}
.blog .author,
.blog .published-at {
  display: block;
  font-size: 14px;
  font-style: italic;
}
.blog .short-description {
  flex-grow: 1;
}
.blog .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navigation {
  display: flex;
  justify-content: center;
  margin: 15px 0 0;
}

.blog-detail {
  border-bottom: 1px solid #e5e9ec;
  padding: 0 0 50px;
  margin: 0 0 50px;
}
.blog-detail header {
  border-bottom: 1px solid #e5e9ec;
  padding: 0 0 25px;
  margin: 0 0 25px;
}
.blog-detail .go-back {
  float: right;
  margin-bottom: 15px;
}
.blog-detail .author,
.blog-detail .published-at {
  display: block;
  font-size: 14px;
  font-style: italic;
}

.comment-form {
  border-bottom: 1px solid #e5e9ec;
  padding: 0 0 50px;
  margin: 0 0 50px;
}

.comments .item {
  background-color: #fbfaf7;
  padding: 15px;
  margin-bottom: 15px;
}
.comments .name {
  font-size: 14px;
  font-style: italic;
}
